header{
  background: linear-gradient(90deg, rgba(52,97,185,1) 0%, rgba(31,11,78,1) 100%);
}
/*
* SIDE BAR
*/
aside {
  height: 100%;
}
.input-group{
  flex-direction: column;
  width: 100%;
}

.list-group {
  height: 100%;
  display: flex;
}
.list-group ul {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-group li {
  margin: 10px auto;
  width: 100%;
}

